<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <title>webpage_beeinternational</title>

</head>
<body>
<nav>
<a href="file:///C:/Users/Karin/Desktop/APP_WEB_FLASK/templates/home.html">Home</a>
<a href="#cursos">Cursos</a>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page"><a href="file:///C:/Users/Karin/Desktop/APP_WEB_FLASK/templates/home.html">Home</a></li>
  </ol>
</nav>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Library</li>
  </ol>
</nav>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item"><a href="#">Library</a></li>
    <li class="breadcrumb-item active" aria-current="page">Data</li>
  </ol>
</nav>
<div class="container">
  <!-- Content here -->
  <img src="">
  <h1><span class="badge badge-secondary">
    <img src="img/bee.png"> Voce está no lugar certo!</span></h1>

<h1> Somos a Escola de Formacao onde voce sai para Ganhar o MUNDO!</h1>
<p> Nossos Cursos: 
<ul>
<li>Inglés focado en Conversacao</li>
<li>Ingles para Programadores </li>
<li> Excel </li>
</ul>
<h2> E muito mais!</h2>
<h2> Fale com a Gente</h2>
<form>
  <div class="form-group">
    <label for="exampleFormControlInput1">Email:</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
  <small id="emailHelp" class="form-text text-muted">Fique tranquilo. Nao vamos compartilhar seu email com mais ninguém.</small>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Curso de Interesse</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option> Ingles para Programadores</option>
      <option> Excel </option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect2">Qual é a sua principal motivacao para se capacitar?</label>
    <select multiple class="form-control" id="exampleFormControlSelect2">
      <option>Conseguir Trabalho </option>
      <option>Avançar na minha Carreira</option>
      <option>Conseguir trabalho remoto em Dólares</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Envia uma Mensagem pra Gente:</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
  </div>
  <button class="btn btn-primary" type="submit">Enviar</button>

</form>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

